## 3. Изменение типов данных

## 3.1. Чтение файлов из excel

In [ ]:
import pandas as pd

traffic_data = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='traffic_data')

print(traffic_data.head(10))
print()
print(traffic_data.columns)
print()
print(traffic_data.info())
print()

#read excel sheets names:
print(list(pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name = None).keys()))

Пока в первых 5 строчках таблицы виден только один источник трафика `direct`. Проверьте, какие источники есть в столбце `source`. Выведите на экран список уникальных значений этого столбца

In [ ]:
print(traffic_data['source'].unique())

In [ ]:
subcategory_dict = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='subcategory_ids')

print(subcategory_dict.head(10))
print()
print(subcategory_dict.columns)
print()
print(subcategory_dict.info())
print()

In [ ]:
category_ids = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='category_ids')

print(category_ids.head(10))
print()
print(category_ids.columns)
print()
print(category_ids.info())
print()

Сгруппируем датафрейм 'traffic_data' по источнику трафика и посчитаем сумму визитов:

In [ ]:
# print(traffic_data.groupby('source').count())

# print(traffic_data[traffic_data['source'] == 'direct']['source'].count())
# print(traffic_data[traffic_data['source'] == 'organic']['source'].count())

# or we could do the same thing in one row with groupby method

print(traffic_data.groupby('source')['subcategory_id'].count())

## 3.2. Перевод строковых значений в числа

In [ ]:
import pandas as pd

print(list(pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\ids.xlsx', sheet_name=None)))

data = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\ids.xlsx', sheet_name='Лист1')

print(data.head(10))
print()
print(data.columns)
print()
print(data.info())
print()

Вычислить сумму продаж:

In [ ]:
# There is str in `amount` column
# print(data['amount'].sum())

data['amount'] = pd.to_numeric(data['amount'], errors = 'coerce')

print(data['amount'].sum())

print(data['amount'].info())
# `errors='raise' — дефолтное поведение: при встрече с некорректным значением выдаётся ошибка, операция перевода в числа прерывается;
# `errors='coerce' — некорректные значения принудительно заменяются на NaN;
# `errors='ignore' — некорректные значения игнорируются, но остаются.

Переведите значения столбца `'id'` из строк в числа методом `to_numeric()`.

In [ ]:
# There is str in `amount` column
# print(data['id'].sum())
# print(data['id'].unique())

data['id'] = pd.to_numeric(data['id'], errors = 'coerce')

In [ ]:
print(data.groupby('category')['amount'].sum())

In [ ]:
traffic_data['visits'] = pd.to_numeric(traffic_data['visits'], errors = 'coerce')
# print(traffic_data.columns)

print(traffic_data.groupby('source')['subcategory_id'].count())

Узнайте, что не так со строкой 964. Вызовите знакомый из вводного курса метод `loc`

In [ ]:
print(traffic_data.head(10))
print(traffic_data.info())

print(traffic_data['visits'].sum())

print(traffic_data.loc[964])

Вычислите, сколько всего строк в датафрейме и выведите на экран в формате:
`Количество строк: 1000`
Затем выведите на экран строки, которые имеют значение `'total'` в столбце `'subcategory_id'`. Изучите полученные результаты: сколько строк портят весь датасет?

In [ ]:
print(traffic_data[traffic_data['subcategory_id'] == 'total'])

print(traffic_data.head(10))

Оставьте в датафрейме только строки, удовлетворяющие условию `data['subcategory_id'] != 'total'`. Проверьте результат: выведите на экран датафрейм с условием `data['subcategory_id'] == 'total'`.

In [ ]:
traffic_data = traffic_data[traffic_data['subcategory_id'] != 'total']


print(traffic_data[traffic_data['subcategory_id'] == 'total'])

print(traffic_data.head(10))
print()

print(traffic_data.info())

Измените тип данных в столбце `['visits']` на `integer`. Проверьте полученный результат, вызвав метод `info()`.

In [ ]:
traffic_data['visits'] = traffic_data['visits'].astype(int)

print(traffic_data.head(10))

print(traffic_data.info())

In [ ]:
print(traffic_data.groupby('source')['visits'].sum())

## 3.3. Time and data in `Pandas`

In [ ]:
import pandas as pd

position = pd.read_csv(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\05 work\position.csv')

print(position.info())
print()
print(position.head(15))
print()
print(position.columns)

Методом `to_datetime()` превратим содержимое этого столбца в понятные для Python даты.
Для этого строку форматируют, обращаясь к специальной системе обозначений, где:

* `%d` — день месяца (от 01 до 31)
* `%m` — номер месяца (от 01 до 12)
* `%Y` — четырёхзначный номер года (например, 2019)
* `Z` — стандартный разделитель даты и времени
* `%H` — номер часа в 24-часовом формате
* `%I` — номер часа в 12-часовом формате
* `%M` — минуты (от 00 до 59)
* `%S` — секунды (от 00 до 59)

Метод `to_datetime()` работает и с форматом `unix time`. Первый аргумент — это столбец со временем в формате `unix time`, второй аргумент `unit` со значением `'s'` сообщит о том, что нужно перевести время в привычный формат с точностью до секунды.

In [ ]:
position['timestamp'] = pd.to_datetime(position['timestamp'], format = '%Y-%m-%dT%H:%M:%S')

print(position.head(10))
print(position.info())

In [ ]:
position = position.sort_values(by='level', ascending=False).reset_index(drop=True)

print(position.head(10))

Часто приходится исследовать статистику по месяцам: например, узнать, на сколько минут сотрудник опаздывал в среднем. Чтобы осуществить такой расчёт, нужно поместить время в класс `DatetimeIndex` и применить к нему атрибут `month`:

In addition to .year and .month, pd.DatetimeIndex provides several other useful attributes and methods for extracting and manipulating datetime components:

* `day`: Extracts the day of the month.
* `weekday`: Extracts the day of the week (Monday=0, Sunday=6).
* `dayofyear`: Extracts the day of the year (1-365/366).
* `quarter`: Extracts the quarter of the year (1-4).
* `hour`: Extracts the hour component for datetime entries that include time.
* `minute`: Extracts the minute component.
* `second`: Extracts the second component.

In [ ]:
position['month'] = pd.DatetimeIndex(position['timestamp']).month

position.head(5)

In [ ]:
print(position.groupby('month')['level'].mean())
print()

print(position['month'].mean())

## 3.4. Обработка ошибок: try-except

In [ ]:
opposition = [
    ['2data9-05-data', '6'],
    ['2data9-05-02', '5'],
    ['2data9-05-03', '5'],
    ['2data9-05-04', '4'],
    ['2data9-05-05', '5'],
    ['2data9-05-06', '5'],
    ['2data9-05-07', '4'],
    ['2data9-05-08', '4'],
    ['2data9-05-09', '3'],
    ['2data9-05-10', '3'],
]

count_lines = 0

for row in opposition:
    count_lines+=1
print(count_lines)
    # допишите

In [ ]:
sum = 0
count = 0
for row in opposition:
    count+=1
    sum = sum+int(row[1])
print(sum/count)

Формат поставки статистики согласован. Разработчики прислали финальную выгрузку, где в данных появились проблемы: отрицательные значения, пробелы и даже ошибки.

Посчитайте среднюю позицию в выдаче и нажмите «Выполнить код».

In [ ]:
opposition1 = [
    ['2019-05-01', ' - 6'],
    ['2019-05-02', ' + 5'],
    ['2019-05-data', ' 5'],
    ['2019-05-04', '4'],
    ['2019-05-05', '5'],
    ['2019-05-06', '5'],
    ['2019-05-07', '4'],
    ['2019-05-08', 'Error 5'],
    ['2019-05-09', '3'],
    ['2019-05-10', '3'],
]

Let's introduce some `try` `except` into our code:

In [ ]:
count_lines = 0

for row in opposition1:
    count_lines +=1
print(count_lines)

errors =[]
sum = 0
count = 0 
for row in opposition1:
    try:
        sum = sum + int(row[1])
        count += 1
    except:
        # row[1] = int(row[1])
        print(f"Couldn't add {row[1]} from the {count} line")
        errors.append(row)
print(sum/count)
print(errors)

In [ ]:
print(errors[0:1])
print(errors[1:2])

Let's make a correct string value for each row in the turple
* Let's start with removing all the unwanted spaces between the nubmers and their respective signs by `replace(' ', '')`
* After we remove the string part of the value with `filter` function using `isdigit` method 
* After that join all filtered digits into an integer by adding it up to the empty space `''` with `''.join()`

    Instead of `replace('',' ')` method it would be more convenient to use `.strip()`

In [ ]:
errors =[]
sum = 0
count = 0 
for row in opposition1:
    value = + int(''.join(filter(str.isdigit, row[1].strip())))
    count += 1
    if row[1].strip().startswith('-'):
        value = -value
    else:
        value = value
    sum += value
    # 
    # except:
    #     print(f"Couldn't add {row[1]} from the {count} line")
    #     errors.append(row)
print(sum/count)
print(errors)

## 3.5. `merge()` method

Данные хранят в Excel-таблице из нескольких листов. Как смотреть на категории, подкатегории и трафик в одном месте? Идея — склеить таблицы!

Объединим несколько таблиц в одну методом `merge()`.

`merge()` применяют к таблице, к которой присоединяют другую. У метода следующие аргументы

1.
* `left` -The first DataFrame to be merged.
* `right` -The second DataFrame to be merged.

2. 
* `how='left'` - Keeps all elements from the left DataFrame and fills in NaN for missing values in the right DataFrame.
* `how='right'` - Keeps all elements from the right DataFrame and fills in NaN for missing values in the left DataFrame.
* `how='inner'` - Keeps only the common elements between the left and right DataFrames.
* `how='outer'` - Keeps all elements from both DataFrames and fills in NaN for missing values.

3. `on` - Column(s) to join on. Must be found in both DataFrames. If not specified and `left_index` and right_index are `False`, it will attempt to merge on the intersection of the column names.
* `left_on`: Column(s) from the left DataFrame to use as keys for the merge.
* `right_on`: Column(s) from the right DataFrame to use as keys for the merge.

4. `sort`:   If True, sort the result by the join keys in lexicographical order. Defaults to True.

5. `suffixes`: A tuple of string suffixes to append to overlapping columns. Defaults to `('_x', '_y')` It allows to distinguish `values` from overlapping columns.

6. `copy`: If `False`, avoid copying data if possible. Defaults to `True`.

7. `indicator`: If `True`, adds a column to the output DataFrame called `_merge` with information on the source of each row. Defaults to `False`.

8. `validate`: String indicating validation to perform after merging. Possible values are `

* `'one_to_one'`  Each value in the left DataFrame must match at most one value in the right DataFrame, and vice versa.
*  `'one_to_many' Each value in the left DataFrame can match multiple values in the right DataFrame.`
*  `'many_to_one' Each value in the right DataFrame can match multiple values in the left DataFrame.`
*  Defaults to `None`.




`pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)`)`

In [8]:
import pandas as pd

print(list(pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\07 work\seo_data.xlsx', sheet_name=None)))
print()

data = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\07 work\seo_data.xlsx', sheet_name='traffic_data')

print(data.info())
print()
print(data.columns)
print()
print(data.head(10))

['traffic_data', 'subcategory_ids', 'category_ids']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB
None

Index(['subcategory_id', 'source', 'visits'], dtype='object')

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651
5     88c78ea685  direct   39638.202995
6     179bfacf4a  direct   31007.471245
7     b0fb8f259a  direct   30324.097324
8     3c67eb2d90  direct   25878.814329
9     24e6c815c6  direct   25276.373358

In [10]:
subcategory_dict = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='subcategory_ids')

print(subcategory_dict.info())
print()
print(subcategory_dict.columns)
print()
print(subcategory_dict.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964 entries, 0 to 963
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subcategory_id    964 non-null    object
 1   subcategory_name  964 non-null    object
 2   category_id       964 non-null    object
dtypes: object(3)
memory usage: 22.7+ KB
None

Index(['subcategory_id', 'subcategory_name', 'category_id'], dtype='object')

  subcategory_id                subcategory_name category_id
0     cf2e61c7af              Мобильные телефоны  09f279a643
1     0cd903d1cc                        Ноутбуки  3509869a61
2     ef35bc88a7                      Телевизоры  09f279a643
3     6ff9f4014c                        Планшеты  3509869a61
4     72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643
5     88c78ea685                            Шины  65922fa39c
6     179bfacf4a           Умные часы и браслеты  09f279a643
7     b0fb8f259a                        Мониторы  3509869a61
8     3c67eb2d90                   Наручные часы  6074ad29ac
9     24e6c815c6  Лекарственные препараты и БАДы  10a493e03b

Объедините самостоятельно таблицы subcategory_dict и data. Результат сохраните в переменной data_subcategory и выведите на экран первые 10 строк новой таблицы.

In [45]:
category_dict = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='category_ids')

print(category_ids.info())
print(category_ids.columns)
print()
print(category_ids.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    16 non-null     object
 1   category_name  16 non-null     object
dtypes: object(2)
memory usage: 388.0+ bytes
None
Index(['category_id', 'category_name'], dtype='object')

  category_id               category_name
0  09f279a643                 Электроника
1  3509869a61        Компьютерная техника
2  65922fa39c                        Авто
3  6074ad29ac  Одежда, обувь и аксессуары
4  10a493e03b         Товары для здоровья
5  5a0d8ac946             Бытовая техника
6  7dbac4c1a3              Детские товары
7  ae99947659               Спорт и отдых
8  655ccc3c49          Товары для красоты
9  394f20d8fa      Строительство и ремонт

In [50]:
data_subcategory = data.merge(subcategory_dict, on='subcategory_id', how ='left',suffixes=('_data', '_subcategory'))

print(data_subcategory.info())
print()
print(data_subcategory.columns)
print()
print(data_subcategory.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subcategory_id    1930 non-null   object
 1   source            1930 non-null   object
 2   visits            1930 non-null   object
 3   subcategory_name  1928 non-null   object
 4   category_id       1928 non-null   object
dtypes: object(5)
memory usage: 75.5+ KB
None

Index(['subcategory_id', 'source', 'visits', 'subcategory_name',
       'category_id'],
      dtype='object')

  subcategory_id  source         visits                subcategory_name  \
0     cf2e61c7af  direct  501165.668858              Мобильные телефоны
1     0cd903d1cc  direct  126342.359505                        Ноутбуки
2     ef35bc88a7  direct   95626.321402                      Телевизоры
3     6ff9f4014c  direct   75680.653002                        Планшеты
4     72bc238e4d  direct   64435.934651  Наушники и Bluetooth-гарнитуры
5     88c78ea685  direct   39638.202995                            Шины
6     179bfacf4a  direct   31007.471245           Умные часы и браслеты
7     b0fb8f259a  direct   30324.097324                        Мониторы
8     3c67eb2d90  direct   25878.814329                   Наручные часы
9     24e6c815c6  direct   25276.373358  Лекарственные препараты и БАДы

  category_id
0  09f279a643
1  3509869a61
2  09f279a643
3  3509869a61
4  09f279a643
5  65922fa39c
6  09f279a643
7  3509869a61
8  6074ad29ac
9  10a493e03b

Объедините таблицы `data_subcategory` и `category_dict`. Результат сохраните в переменной `data_final` и выведите на экран первые 10 строк новой таблицы.

In [53]:
data_final = pd.merge(data_subcategory, category_dict, on='category_id', how='left')

print(data_final.info())
print()
print(data_final.columns)
print()
print(data_final.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subcategory_id    1930 non-null   object
 1   source            1930 non-null   object
 2   visits            1930 non-null   object
 3   subcategory_name  1928 non-null   object
 4   category_id       1928 non-null   object
 5   category_name     1928 non-null   object
dtypes: object(6)
memory usage: 90.6+ KB
None

Index(['subcategory_id', 'source', 'visits', 'subcategory_name', 'category_id',
       'category_name'],
      dtype='object')

  subcategory_id  source         visits                subcategory_name  \
0     cf2e61c7af  direct  501165.668858              Мобильные телефоны
1     0cd903d1cc  direct  126342.359505                        Ноутбуки
2     ef35bc88a7  direct   95626.321402                      Телевизоры
3     6ff9f4014c  direct   75680.653002                        Планшеты
4     72bc238e4d  direct   64435.934651  Наушники и Bluetooth-гарнитуры
5     88c78ea685  direct   39638.202995                            Шины
6     179bfacf4a  direct   31007.471245           Умные часы и браслеты
7     b0fb8f259a  direct   30324.097324                        Мониторы
8     3c67eb2d90  direct   25878.814329                   Наручные часы
9     24e6c815c6  direct   25276.373358  Лекарственные препараты и БАДы

  category_id               category_name
0  09f279a643                 Электроника
1  3509869a61        Компьютерная техника
2  09f279a643                 Электроника
3  3509869a61        Компьютерная техника
4  09f279a643                 Электроника
5  65922fa39c                        Авто
6  09f279a643                 Электроника
7  3509869a61        Компьютерная техника
8  6074ad29ac  Одежда, обувь и аксессуары
9  10a493e03b         Товары для здоровья