## 3. Изменение типов данных

## 3.1. Чтение файлов из excel

In [1]:
import pandas as pd

traffic_data = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='traffic_data')

print(traffic_data.head(10))
print()
print(traffic_data.columns)
print()
print(traffic_data.info())
print()

#read excel sheets names:
print(list(pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name = None).keys()))

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651
5     88c78ea685  direct   39638.202995
6     179bfacf4a  direct   31007.471245
7     b0fb8f259a  direct   30324.097324
8     3c67eb2d90  direct   25878.814329
9     24e6c815c6  direct   25276.373358

Index(['subcategory_id', 'source', 'visits'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB
None

['traffic_data', 'subcategory_ids', 'category_ids']

Пока в первых 5 строчках таблицы виден только один источник трафика `direct`. Проверьте, какие источники есть в столбце `source`. Выведите на экран список уникальных значений этого столбца

In [3]:
print(traffic_data['source'].unique())

['direct' 'organic']

In [4]:
subcategory_dict = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='subcategory_ids')

print(subcategory_dict.head(10))
print()
print(subcategory_dict.columns)
print()
print(subcategory_dict.info())
print()

  subcategory_id                subcategory_name category_id
0     cf2e61c7af              Мобильные телефоны  09f279a643
1     0cd903d1cc                        Ноутбуки  3509869a61
2     ef35bc88a7                      Телевизоры  09f279a643
3     6ff9f4014c                        Планшеты  3509869a61
4     72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643
5     88c78ea685                            Шины  65922fa39c
6     179bfacf4a           Умные часы и браслеты  09f279a643
7     b0fb8f259a                        Мониторы  3509869a61
8     3c67eb2d90                   Наручные часы  6074ad29ac
9     24e6c815c6  Лекарственные препараты и БАДы  10a493e03b

Index(['subcategory_id', 'subcategory_name', 'category_id'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964 entries, 0 to 963
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subcategory_id    964 non-null    object
 1   subcategory_name  964 non-null    object
 2   category_id       964 non-null    object
dtypes: object(3)
memory usage: 22.7+ KB
None

In [5]:
category_ids = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='category_ids')

print(category_ids.head(10))
print()
print(category_ids.columns)
print()
print(category_ids.info())
print()

  category_id               category_name
0  09f279a643                 Электроника
1  3509869a61        Компьютерная техника
2  65922fa39c                        Авто
3  6074ad29ac  Одежда, обувь и аксессуары
4  10a493e03b         Товары для здоровья
5  5a0d8ac946             Бытовая техника
6  7dbac4c1a3              Детские товары
7  ae99947659               Спорт и отдых
8  655ccc3c49          Товары для красоты
9  394f20d8fa      Строительство и ремонт

Index(['category_id', 'category_name'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    16 non-null     object
 1   category_name  16 non-null     object
dtypes: object(2)
memory usage: 388.0+ bytes
None

Сгруппируем датафрейм 'traffic_data' по источнику трафика и посчитаем сумму визитов:

In [7]:
# print(traffic_data.groupby('source').count())

# print(traffic_data[traffic_data['source'] == 'direct']['source'].count())
# print(traffic_data[traffic_data['source'] == 'organic']['source'].count())

# or we could do the same thing in one row with groupby method

print(traffic_data.groupby('source')['subcategory_id'].count())

source
direct     965
organic    965
Name: subcategory_id, dtype: int64

## 3.2. Перевод строковых значений в числа

In [9]:
import pandas as pd

print(list(pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\ids.xlsx', sheet_name=None)))

data = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\ids.xlsx', sheet_name='Лист1')

print(data.head(10))
print()
print(data.columns)
print()
print(data.info())
print()

['Лист1']
             id category    amount
0  600748331392        C  17515.36
1  600748331404        B  10117.56
2  600748331412        B  18489.26
3  600748331430        B   6620.22
4  600748331447        C    7559.9
5  600748331496        D  10567.82
6  600748331504        A  14460.94
7  600748331539        C   9504.54
8  600748331577        C  14499.01
9  600748331592        C  17336.38

Index(['id', 'category', 'amount'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49 non-null     object
 1   category  49 non-null     object
 2   amount    49 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB
None

Вычислить сумму продаж:

In [11]:
# There is str in `amount` column
# print(data['amount'].sum())

data['amount'] = pd.to_numeric(data['amount'], errors = 'coerce')

print(data['amount'].sum())

print(data['amount'].info())
# `errors='raise' — дефолтное поведение: при встрече с некорректным значением выдаётся ошибка, операция перевода в числа прерывается;
# `errors='coerce' — некорректные значения принудительно заменяются на NaN;
# `errors='ignore' — некорректные значения игнорируются, но остаются.

596107.1
<class 'pandas.core.series.Series'>
RangeIndex: 49 entries, 0 to 48
Series name: amount
Non-Null Count  Dtype
--------------  -----
45 non-null     float64
dtypes: float64(1)
memory usage: 524.0 bytes
None

Переведите значения столбца `'id'` из строк в числа методом `to_numeric()`.

In [13]:
# There is str in `amount` column
# print(data['id'].sum())
# print(data['id'].unique())

data['id'] = pd.to_numeric(data['id'], errors = 'coerce')

In [14]:
print(data.groupby('category')['amount'].sum())

category
A       133988.50
B       168617.89
C       173332.50
D        62630.82
E        57537.39
Null         0.00
Name: amount, dtype: float64

In [15]:
traffic_data['visits'] = pd.to_numeric(traffic_data['visits'], errors = 'coerce')
# print(traffic_data.columns)

print(traffic_data.groupby('source')['subcategory_id'].count())

source
direct     965
organic    965
Name: subcategory_id, dtype: int64

Узнайте, что не так со строкой 964. Вызовите знакомый из вводного курса метод `loc`

In [17]:
print(traffic_data.head(10))
print(traffic_data.info())

print(traffic_data['visits'].sum())

print(traffic_data.loc[964])

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651
5     88c78ea685  direct   39638.202995
6     179bfacf4a  direct   31007.471245
7     b0fb8f259a  direct   30324.097324
8     3c67eb2d90  direct   25878.814329
9     24e6c815c6  direct   25276.373358
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1928 non-null   float64
dtypes: float64(1), object(2)
memory usage: 45.4+ KB
None
8057349.934393608
subcategory_id     total
source            direct
visits               NaN
Name: 964, dtype: object

Вычислите, сколько всего строк в датафрейме и выведите на экран в формате:
`Количество строк: 1000`
Затем выведите на экран строки, которые имеют значение `'total'` в столбце `'subcategory_id'`. Изучите полученные результаты: сколько строк портят весь датасет?

In [19]:
print(traffic_data[traffic_data['subcategory_id'] == 'total'])

print(traffic_data.head(10))

     subcategory_id   source  visits
964           total   direct     NaN
1929          total  organic     NaN
  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651
5     88c78ea685  direct   39638.202995
6     179bfacf4a  direct   31007.471245
7     b0fb8f259a  direct   30324.097324
8     3c67eb2d90  direct   25878.814329
9     24e6c815c6  direct   25276.373358

Оставьте в датафрейме только строки, удовлетворяющие условию `data['subcategory_id'] != 'total'`. Проверьте результат: выведите на экран датафрейм с условием `data['subcategory_id'] == 'total'`.

In [21]:
traffic_data = traffic_data[traffic_data['subcategory_id'] != 'total']


print(traffic_data[traffic_data['subcategory_id'] == 'total'])

print(traffic_data.head(10))
print()

print(traffic_data.info())

Empty DataFrame
Columns: [subcategory_id, source, visits]
Index: []
  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651
5     88c78ea685  direct   39638.202995
6     179bfacf4a  direct   31007.471245
7     b0fb8f259a  direct   30324.097324
8     3c67eb2d90  direct   25878.814329
9     24e6c815c6  direct   25276.373358

<class 'pandas.core.frame.DataFrame'>
Index: 1928 entries, 0 to 1928
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1928 non-null   object
 1   source          1928 non-null   object
 2   visits          1928 non-null   float64
dtypes: float64(1), object(2)
memory usage: 60.2+ KB
None

Измените тип данных в столбце `['visits']` на `integer`. Проверьте полученный результат, вызвав метод `info()`.

In [23]:
traffic_data['visits'] = traffic_data['visits'].astype(int)

print(traffic_data.head(10))

print(traffic_data.info())

  subcategory_id  source  visits
0     cf2e61c7af  direct  501165
1     0cd903d1cc  direct  126342
2     ef35bc88a7  direct   95626
3     6ff9f4014c  direct   75680
4     72bc238e4d  direct   64435
5     88c78ea685  direct   39638
6     179bfacf4a  direct   31007
7     b0fb8f259a  direct   30324
8     3c67eb2d90  direct   25878
9     24e6c815c6  direct   25276
<class 'pandas.core.frame.DataFrame'>
Index: 1928 entries, 0 to 1928
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1928 non-null   object
 1   source          1928 non-null   object
 2   visits          1928 non-null   int32
dtypes: int32(1), object(2)
memory usage: 52.7+ KB
None

In [24]:
print(traffic_data.groupby('source')['visits'].sum())

source
direct     2368980
organic    5687407
Name: visits, dtype: int32

## 3.3. Time and data in `Pandas`

In [26]:
import pandas as pd

position = pd.read_csv(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\05 work\position.csv')

print(position.info())
print()
print(position.head(15))
print()
print(position.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  39 non-null     object
 1   level      39 non-null     int64
 2   page_id    39 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.0+ KB
None

              timestamp  level   page_id
0   2019-02-04T13:22:34      1  6ukoNykP
1   2019-02-06T15:30:54      1  Q62R1Ue7
2   2019-02-08T14:53:45      1  GmfSxgPs
3   2019-02-10T16:50:22      2  M56OK96C
4   2019-02-12T14:16:28      1  q2fqVqPc
5   2019-02-14T15:10:45      1  LioXfSPk
6   2019-02-16T14:52:23      3  bQXWpQ2z
7   2019-02-18T15:45:33      2  gsFVGOTy
8   2019-02-20T16:35:12      3  zVuiSTm1
9   2019-02-22T15:52:27      1  kuULtbnm
10  2019-02-24T12:39:30      2  MKDhBt9L
11  2019-02-26T12:45:10      3  FEgRztcr
12  2019-03-04T15:34:46      4  OUBWQSCl
13  2019-03-06T14:20:57      5  6YeTUHgm
14  2019-03-08T12:34:43      6  zlrBrZ0d

Index(['timestamp', 'level', 'page_id'], dtype='object')

Методом `to_datetime()` превратим содержимое этого столбца в понятные для Python даты.
Для этого строку форматируют, обращаясь к специальной системе обозначений, где:

* `%d` — день месяца (от 01 до 31)
* `%m` — номер месяца (от 01 до 12)
* `%Y` — четырёхзначный номер года (например, 2019)
* `Z` — стандартный разделитель даты и времени
* `%H` — номер часа в 24-часовом формате
* `%I` — номер часа в 12-часовом формате
* `%M` — минуты (от 00 до 59)
* `%S` — секунды (от 00 до 59)

Метод `to_datetime()` работает и с форматом `unix time`. Первый аргумент — это столбец со временем в формате `unix time`, второй аргумент `unit` со значением `'s'` сообщит о том, что нужно перевести время в привычный формат с точностью до секунды.

In [29]:
position['timestamp'] = pd.to_datetime(position['timestamp'], format = '%Y-%m-%dT%H:%M:%S')

print(position.head(10))
print(position.info())

            timestamp  level   page_id
0 2019-02-04 13:22:34      1  6ukoNykP
1 2019-02-06 15:30:54      1  Q62R1Ue7
2 2019-02-08 14:53:45      1  GmfSxgPs
3 2019-02-10 16:50:22      2  M56OK96C
4 2019-02-12 14:16:28      1  q2fqVqPc
5 2019-02-14 15:10:45      1  LioXfSPk
6 2019-02-16 14:52:23      3  bQXWpQ2z
7 2019-02-18 15:45:33      2  gsFVGOTy
8 2019-02-20 16:35:12      3  zVuiSTm1
9 2019-02-22 15:52:27      1  kuULtbnm
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  39 non-null     datetime64[ns]
 1   level      39 non-null     int64
 2   page_id    39 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.0+ KB
None

In [30]:
position = position.sort_values(by='level', ascending=False).reset_index(drop=True)

print(position.head(10))

            timestamp  level   page_id
0 2019-03-24 13:49:22      9  WklxK6k4
1 2019-04-27 12:48:14      8  5VRryKr6
2 2019-04-21 14:40:17      8  JvTMAbs7
3 2019-04-11 13:39:15      8  9mL07Mjl
4 2019-03-22 16:36:19      8  s24ZIat3
5 2019-03-10 13:12:57      7  Vih5ARKA
6 2019-04-19 15:43:24      7  MSHZViNg
7 2019-04-13 12:13:26      7  ILfc3WmK
8 2019-04-09 14:57:20      7  SfnhoGh6
9 2019-04-05 14:51:38      7  7JKRCdPA

Часто приходится исследовать статистику по месяцам: например, узнать, на сколько минут сотрудник опаздывал в среднем. Чтобы осуществить такой расчёт, нужно поместить время в класс `DatetimeIndex` и применить к нему атрибут `month`:

In addition to .year and .month, pd.DatetimeIndex provides several other useful attributes and methods for extracting and manipulating datetime components:

* `day`: Extracts the day of the month.
* `weekday`: Extracts the day of the week (Monday=0, Sunday=6).
* `dayofyear`: Extracts the day of the year (1-365/366).
* `quarter`: Extracts the quarter of the year (1-4).
* `hour`: Extracts the hour component for datetime entries that include time.
* `minute`: Extracts the minute component.
* `second`: Extracts the second component.

In [33]:
position['month'] = pd.DatetimeIndex(position['timestamp']).month

position.head(5)

            timestamp  level   page_id  month
0 2019-03-24 13:49:22      9  WklxK6k4      3
1 2019-04-27 12:48:14      8  5VRryKr6      4
2 2019-04-21 14:40:17      8  JvTMAbs7      4
3 2019-04-11 13:39:15      8  9mL07Mjl      4
4 2019-03-22 16:36:19      8  s24ZIat3      3

In [34]:
print(position.groupby('month')['level'].mean())
print()

print(position['month'].mean())

month
2    1.750000
3    5.769231
4    6.214286
Name: level, dtype: float64

3.051282051282051

## 3.4. Обработка ошибок: try-except

In [36]:
opposition = [
    ['2data9-05-data', '6'],
    ['2data9-05-02', '5'],
    ['2data9-05-03', '5'],
    ['2data9-05-04', '4'],
    ['2data9-05-05', '5'],
    ['2data9-05-06', '5'],
    ['2data9-05-07', '4'],
    ['2data9-05-08', '4'],
    ['2data9-05-09', '3'],
    ['2data9-05-10', '3'],
]

count_lines = 0

for row in opposition:
    count_lines+=1
print(count_lines)
    # допишите

10

In [37]:
sum = 0
count = 0
for row in opposition:
    count+=1
    sum = sum+int(row[1])
print(sum/count)

4.4

Формат поставки статистики согласован. Разработчики прислали финальную выгрузку, где в данных появились проблемы: отрицательные значения, пробелы и даже ошибки.

Посчитайте среднюю позицию в выдаче и нажмите «Выполнить код».

In [39]:
opposition1 = [
    ['2019-05-01', ' - 6'],
    ['2019-05-02', ' + 5'],
    ['2019-05-data', ' 5'],
    ['2019-05-04', '4'],
    ['2019-05-05', '5'],
    ['2019-05-06', '5'],
    ['2019-05-07', '4'],
    ['2019-05-08', 'Error 5'],
    ['2019-05-09', '3'],
    ['2019-05-10', '3'],
]

Let's introduce some `try` `except` into our code:

In [41]:
count_lines = 0

for row in opposition1:
    count_lines +=1
print(count_lines)

errors =[]
sum = 0
count = 0 
for row in opposition1:
    try:
        sum = sum + int(row[1])
        count += 1
    except:
        # row[1] = int(row[1])
        print(f"Couldn't add {row[1]} from the {count} line")
        errors.append(row)
print(sum/count)
print(errors)

10
Couldn't add  - 6 from the 0 line
Couldn't add  + 5 from the 0 line
Couldn't add Error 5 from the 5 line
4.142857142857143
[['2019-05-01', ' - 6'], ['2019-05-02', ' + 5'], ['2019-05-08', 'Error 5']]

In [42]:
print(errors[0:1])
print(errors[1:2])

[['2019-05-01', ' - 6']]
[['2019-05-02', ' + 5']]

Let's make a correct string value for each row in the turple
* Let's start with removing all the unwanted spaces between the nubmers and their respective signs by `replace(' ', '')`
* After we remove the string part of the value with `filter` function using `isdigit` method 
* After that join all filtered digits into an integer by adding it up to the empty space `''` with `''.join()`

    Instead of `replace('',' ')` method it would be more convenient to use `.strip()`

In [44]:
errors =[]
sum = 0
count = 0 
for row in opposition1:
    value = + int(''.join(filter(str.isdigit, row[1].strip())))
    count += 1
    if row[1].strip().startswith('-'):
        value = -value
    else:
        value = value
    sum += value
    # 
    # except:
    #     print(f"Couldn't add {row[1]} from the {count} line")
    #     errors.append(row)
print(sum/count)
print(errors)

3.3
[]

## 3.5. `merge()` method

Данные хранят в Excel-таблице из нескольких листов. Как смотреть на категории, подкатегории и трафик в одном месте? Идея — склеить таблицы!

Объединим несколько таблиц в одну методом `merge()`.

`merge()` применяют к таблице, к которой присоединяют другую. У метода следующие аргументы

1.
* `left` -The first DataFrame to be merged.
* `right` -The second DataFrame to be merged.

2. 
* `how='left'` - Keeps all elements from the left DataFrame and fills in NaN for missing values in the right DataFrame.
* `how='right'` - Keeps all elements from the right DataFrame and fills in NaN for missing values in the left DataFrame.
* `how='inner'` - Keeps only the common elements between the left and right DataFrames.
* `how='outer'` - Keeps all elements from both DataFrames and fills in NaN for missing values.

3. `on` - Column(s) to join on. Must be found in both DataFrames. If not specified and `left_index` and right_index are `False`, it will attempt to merge on the intersection of the column names.
* `left_on`: Column(s) from the left DataFrame to use as keys for the merge.
* `right_on`: Column(s) from the right DataFrame to use as keys for the merge.

4. `sort`:   If True, sort the result by the join keys in lexicographical order. Defaults to True.

5. `suffixes`: A tuple of string suffixes to append to overlapping columns. Defaults to `('_x', '_y')` It allows to distinguish `values` from overlapping columns.

6. `copy`: If `False`, avoid copying data if possible. Defaults to `True`.

7. `indicator`: If `True`, adds a column to the output DataFrame called `_merge` with information on the source of each row. Defaults to `False`.

8. `validate`: String indicating validation to perform after merging. Possible values are `

* `'one_to_one'`  Each value in the left DataFrame must match at most one value in the right DataFrame, and vice versa.
*  `'one_to_many' Each value in the left DataFrame can match multiple values in the right DataFrame.`
*  `'many_to_one' Each value in the right DataFrame can match multiple values in the left DataFrame.`
*  Defaults to `None`.




`pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)`)`

In [142]:
import pandas as pd

print(list(pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\07 work\seo_data.xlsx', sheet_name=None)))
print()

data = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\07 work\seo_data.xlsx', sheet_name='traffic_data')

print(data.info())
print()
print(data.columns)
print()
print(data.head(10))

['traffic_data', 'subcategory_ids', 'category_ids']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB
None

Index(['subcategory_id', 'source', 'visits'], dtype='object')

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651
5     88c78ea685  direct   39638.202995
6     179bfacf4a  direct   31007.471245
7     b0fb8f259a  direct   30324.097324
8     3c67eb2d90  direct   25878.814329
9     24e6c815c6  direct   25276.373358

In [143]:
subcategory_dict = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='subcategory_ids')

print(subcategory_dict.info())
print()
print(subcategory_dict.columns)
print()
print(subcategory_dict.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964 entries, 0 to 963
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subcategory_id    964 non-null    object
 1   subcategory_name  964 non-null    object
 2   category_id       964 non-null    object
dtypes: object(3)
memory usage: 22.7+ KB
None

Index(['subcategory_id', 'subcategory_name', 'category_id'], dtype='object')

  subcategory_id                subcategory_name category_id
0     cf2e61c7af              Мобильные телефоны  09f279a643
1     0cd903d1cc                        Ноутбуки  3509869a61
2     ef35bc88a7                      Телевизоры  09f279a643
3     6ff9f4014c                        Планшеты  3509869a61
4     72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643
5     88c78ea685                            Шины  65922fa39c
6     179bfacf4a           Умные часы и браслеты  09f279a643
7     b0fb8f259a                        Мониторы  3509869a61
8     3c67eb2d90                   Наручные часы  6074ad29ac
9     24e6c815c6  Лекарственные препараты и БАДы  10a493e03b

Объедините самостоятельно таблицы subcategory_dict и data. Результат сохраните в переменной data_subcategory и выведите на экран первые 10 строк новой таблицы.

In [147]:
category_dict = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 03 Изменение типов данных\04 work\seo_data.xlsx', sheet_name ='category_ids')

print(category_ids.info())
print(category_ids.columns)
print()
print(category_ids.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    16 non-null     object
 1   category_name  16 non-null     object
dtypes: object(2)
memory usage: 388.0+ bytes
None
Index(['category_id', 'category_name'], dtype='object')

  category_id               category_name
0  09f279a643                 Электроника
1  3509869a61        Компьютерная техника
2  65922fa39c                        Авто
3  6074ad29ac  Одежда, обувь и аксессуары
4  10a493e03b         Товары для здоровья
5  5a0d8ac946             Бытовая техника
6  7dbac4c1a3              Детские товары
7  ae99947659               Спорт и отдых
8  655ccc3c49          Товары для красоты
9  394f20d8fa      Строительство и ремонт

In [149]:
data_subcategory = data.merge(subcategory_dict, on='subcategory_id', how ='left',suffixes=('_data', '_subcategory'))

print(data_subcategory.info())
print()
print(data_subcategory.columns)
print()
print(data_subcategory.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subcategory_id    1930 non-null   object
 1   source            1930 non-null   object
 2   visits            1930 non-null   object
 3   subcategory_name  1928 non-null   object
 4   category_id       1928 non-null   object
dtypes: object(5)
memory usage: 75.5+ KB
None

Index(['subcategory_id', 'source', 'visits', 'subcategory_name',
       'category_id'],
      dtype='object')

  subcategory_id  source         visits                subcategory_name  \
0     cf2e61c7af  direct  501165.668858              Мобильные телефоны
1     0cd903d1cc  direct  126342.359505                        Ноутбуки
2     ef35bc88a7  direct   95626.321402                      Телевизоры
3     6ff9f4014c  direct   75680.653002                        Планшеты
4     72bc238e4d  direct   64435.934651  Наушники и Bluetooth-гарнитуры
5     88c78ea685  direct   39638.202995                            Шины
6     179bfacf4a  direct   31007.471245           Умные часы и браслеты
7     b0fb8f259a  direct   30324.097324                        Мониторы
8     3c67eb2d90  direct   25878.814329                   Наручные часы
9     24e6c815c6  direct   25276.373358  Лекарственные препараты и БАДы

  category_id
0  09f279a643
1  3509869a61
2  09f279a643
3  3509869a61
4  09f279a643
5  65922fa39c
6  09f279a643
7  3509869a61
8  6074ad29ac
9  10a493e03b

Объедините таблицы `data_subcategory` и `category_dict`. Результат сохраните в переменной `data_final` и выведите на экран первые 10 строк новой таблицы.

In [154]:
data_final = pd.merge(data_subcategory, category_dict, on='category_id', how='left')
data_final['visits'] = data_final['visits'].astype(str).str.replace('"', '').astype(float).astype(int) 

print(data_final.info())
print()
print(data_final.columns)
print()
print(data_final.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subcategory_id    1930 non-null   object
 1   source            1930 non-null   object
 2   visits            1930 non-null   int32
 3   subcategory_name  1928 non-null   object
 4   category_id       1928 non-null   object
 5   category_name     1928 non-null   object
dtypes: int32(1), object(5)
memory usage: 83.1+ KB
None

Index(['subcategory_id', 'source', 'visits', 'subcategory_name', 'category_id',
       'category_name'],
      dtype='object')

  subcategory_id  source  visits                subcategory_name category_id  \
0     cf2e61c7af  direct  501165              Мобильные телефоны  09f279a643
1     0cd903d1cc  direct  126342                        Ноутбуки  3509869a61
2     ef35bc88a7  direct   95626                      Телевизоры  09f279a643
3     6ff9f4014c  direct   75680                        Планшеты  3509869a61
4     72bc238e4d  direct   64435  Наушники и Bluetooth-гарнитуры  09f279a643
5     88c78ea685  direct   39638                            Шины  65922fa39c
6     179bfacf4a  direct   31007           Умные часы и браслеты  09f279a643
7     b0fb8f259a  direct   30324                        Мониторы  3509869a61
8     3c67eb2d90  direct   25878                   Наручные часы  6074ad29ac
9     24e6c815c6  direct   25276  Лекарственные препараты и БАДы  10a493e03b

                category_name
0                 Электроника
1        Компьютерная техника
2                 Электроника
3        Компьютерная техника
4                 Электроника
5                        Авто
6                 Электроника
7        Компьютерная техника
8  Одежда, обувь и аксессуары
9         Товары для здоровья

## 3.6. `pivot_table` method

Сделаем по ней сводную таблицу методом `pivot_table():`

Аргументы метода:

* `data`: The DataFrame to use for creating the pivot table.
* `values`: Column or list of columns to aggregate.
* `index`: Column or list of columns to use as the row labels of the pivot table.
* `columns`: Column or list of columns to use as the column labels of the pivot table.
* `aggfunc`: Function to aggregate values. This can be a single function or a list of functions.
* `fill_value`: Value to replace missing values with.
* `margins`: If True, add a row and a column that will aggregate results over the other indexes.
* `dropna`: If True, do not include columns whose entries are all NaN.
* `margins_name`: Name of the row and column that will aggregate results (default is 'All').

`pivot_table = pd.pivot_table(df, values=['Sales', 'Expenses'], index='Region', columns='Year', aggfunc='sum')`

In [176]:
data_pivot = pd.pivot_table(data_final, index=['category_name', 'subcategory_name'], columns='source', values='visits', aggfunc='sum')
print(data_pivot.head(5))

source                                   direct  organic
category_name subcategory_name
Авто          Автоакустика                 5915    15433
              Автомагнитолы                7783    18690
              Автомобильные инверторы       145      150
              Автомобильные компрессоры     407      790
              Автомобильные телевизоры      975     2246

Как видно, основная категория включает в себя подкатегорию и это представлено в структуре датафрейма: категория отображена иерархически главной над подкатегорией. Такие датафреймы содержат в себе мультииндекс. Часто при работе с такими датафреймами мультииндекс убирают, чтобы категория была отображена на каждой строчке датафрейма:

In [178]:
data_pivot_reset_index = data_pivot.reset_index()
print(data_pivot_reset_index.head(5))

source category_name           subcategory_name  direct  organic
0               Авто               Автоакустика    5915    15433
1               Авто              Автомагнитолы    7783    18690
2               Авто    Автомобильные инверторы     145      150
3               Авто  Автомобильные компрессоры     407      790
4               Авто   Автомобильные телевизоры     975     2246

Решим ту же задачу по SEO-оптимизации методами `groupby()` и `agg()`:

In [282]:
print(data_final.head(5))
print()

data_grouped =  data_final.groupby(['category_name','subcategory_name','source'])
print(data_grouped.head(5))
print()

data_grouped_agg = data_final.groupby(['category_name','subcategory_name','source']).agg({'visits':'sum'})
print(data_grouped_agg.head(5))

  subcategory_id  source  visits                subcategory_name category_id  \
0     cf2e61c7af  direct  501165              Мобильные телефоны  09f279a643
1     0cd903d1cc  direct  126342                        Ноутбуки  3509869a61
2     ef35bc88a7  direct   95626                      Телевизоры  09f279a643
3     6ff9f4014c  direct   75680                        Планшеты  3509869a61
4     72bc238e4d  direct   64435  Наушники и Bluetooth-гарнитуры  09f279a643

          category_name
0           Электроника
1  Компьютерная техника
2           Электроника
3  Компьютерная техника
4           Электроника

     subcategory_id   source  visits                subcategory_name  \
0        cf2e61c7af   direct  501165              Мобильные телефоны
1        0cd903d1cc   direct  126342                        Ноутбуки
2        ef35bc88a7   direct   95626                      Телевизоры
3        6ff9f4014c   direct   75680                        Планшеты
4        72bc238e4d   direct   64435  Наушники и Bluetooth-гарнитуры
...             ...      ...     ...                             ...
1924     779e246861  organic      15                       Проволока
1925     c51343bf77  organic      15             Свитеры и кардиганы
1926     d942687638  organic      13                      Термобелье
1927     976642886f  organic       9     Наклейки, шильдики и значки
1928     075994491e  organic       4             Гигиена полости рта

     category_id               category_name
0     09f279a643                 Электроника
1     3509869a61        Компьютерная техника
2     09f279a643                 Электроника
3     3509869a61        Компьютерная техника
4     09f279a643                 Электроника
...          ...                         ...
1924  394f20d8fa      Строительство и ремонт
1925  6074ad29ac  Одежда, обувь и аксессуары
1926  6074ad29ac  Одежда, обувь и аксессуары
1927  65922fa39c                        Авто
1928  7dbac4c1a3              Детские товары

[1928 rows x 6 columns]

                                               visits
category_name subcategory_name        source
Авто          Автоакустика            direct     5915
                                      organic   15433
              Автомагнитолы           direct     7783
                                      organic   18690
              Автомобильные инверторы direct      145

In [224]:
data_grouped_agg['dailty_visits'] = (data_grouped_agg['visits']/30).astype(int)
print(data_grouped_agg.head(5))

                                               visits  dailty_visits
category_name subcategory_name        source
Авто          Автоакустика            direct     5915            197
                                      organic   15433            514
              Автомагнитолы           direct     7783            259
                                      organic   18690            623
              Автомобильные инверторы direct      145              4

Создадим pivot_table

In [227]:
data_pivot = pd.pivot_table(data_final, index=['category_name', 'subcategory_name'], columns='source', values='visits', aggfunc='sum')

print(data_pivot.head(10))

source                                    direct  organic
category_name subcategory_name
Авто          Автоакустика                  5915    15433
              Автомагнитолы                 7783    18690
              Автомобильные инверторы        145      150
              Автомобильные компрессоры      407      790
              Автомобильные телевизоры       975     2246
              Автомобильные холодильники     204      285
              Автосигнализации               494     1026
              Аккумуляторные батареи        1175     2657
              Антифризы                      736     1568
              Багажники, рейлинги            342      664

In [231]:
data_pivot['ratio'] = round(data_pivot['organic'] / data_pivot['direct'],2)

print(data_pivot.head(10))

source                                    direct  organic  ratio
category_name subcategory_name
Авто          Автоакустика                  5915    15433   2.61
              Автомагнитолы                 7783    18690   2.40
              Автомобильные инверторы        145      150   1.03
              Автомобильные компрессоры      407      790   1.94
              Автомобильные телевизоры       975     2246   2.30
              Автомобильные холодильники     204      285   1.40
              Автосигнализации               494     1026   2.08
              Аккумуляторные батареи        1175     2657   2.26
              Антифризы                      736     1568   2.13
              Багажники, рейлинги            342      664   1.94

In [245]:
data_pivot = data_pivot.sort_values(['ratio'],ascending=False)
print(data_pivot.tail(10))

source                                                  direct  organic  ratio
category_name              subcategory_name
Детские товары             Глобусы                          89       26   0.29
Товары для красоты         Кисти, спонжи и аппликаторы      96       27   0.28
Продукты                   Макароны                         86       24   0.28
Спорт и отдых              Гребные тренажеры                89       24   0.27
Детские товары             Играем в салон красоты           88       24   0.27
                           Блокноты                         79       21   0.27
Строительство и ремонт     Проволока                        76       15   0.20
Одежда, обувь и аксессуары Термобелье                       67       13   0.19
Авто                       Наклейки, шильдики и значки      50        9   0.18
Детские товары             Гигиена полости рта              27        4   0.15

In [278]:
print(data_pivot[data_pivot['direct'] >1000].tail(10))

source                                                       direct  organic  \
category_name              subcategory_name
Товары для дома            Люстры                              2016     4209
Строительство и ремонт     Дисковые пилы                       2040     4255
Товары для дома            Компьютерные и письменные столы     1999     4177
Бытовая техника            Оверлоки и распошивальные машины    1536     3215
Строительство и ремонт     Воздушные компрессоры               1690     3520
Товары для здоровья        Бандажи и ортезы                    1659     3453
Строительство и ремонт     Нивелиры и лазерные уровни          1651     3436
Электроника                Защитные пленки и стекла            1560     3246
Одежда, обувь и аксессуары Туфли                               1035     2096
                           Сапоги                              1008     2021

source                                                       ratio
category_name              subcategory_name
Товары для дома            Люстры                             2.09
Строительство и ремонт     Дисковые пилы                      2.09
Товары для дома            Компьютерные и письменные столы    2.09
Бытовая техника            Оверлоки и распошивальные машины   2.09
Строительство и ремонт     Воздушные компрессоры              2.08
Товары для здоровья        Бандажи и ортезы                   2.08
Строительство и ремонт     Нивелиры и лазерные уровни         2.08
Электроника                Защитные пленки и стекла           2.08
Одежда, обувь и аксессуары Туфли                              2.03
                           Сапоги                             2.00