In [357]:
import pandas as pd

print(list(pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 04 Поиск дубликатов\02 work\stock.xlsx',sheet_name=None)))

stocks = pd.read_excel(r'E:\COURSES\Кодинг\[Yandex praxis]. DS specialist + (2022)\2\[SuperSliv.biz] 04 Поиск дубликатов\02 work\stock.xlsx',sheet_name='storehouse')

print(stocks.info())
print()
print(stocks.columns)
print()
print(stocks.head(10))

['storehouse']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   item    10 non-null     object
 2   count   10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes
None

Index(['id', 'item', 'count'], dtype='object')

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929     Смартфон Xiaomi Redmi 6A 16GB     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998          Смартфон HUAWEI P30 lite     33
8  100481008     Смартфон Xiaomi Redmi 6A 16GB      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

In [359]:
print(stocks['item'].unique())

['Смартфон Xiaomi Redmi 6A 16GB' 'Смартфон Samsung Galaxy A30 32GB'
 'смартфон Samsung Galaxy A30 32gb' 'Смартфон HUAWEI P30 lite'
 'Смартфон Apple iPhone Xr 64gb' 'Смартфон Honor 8X 64GB'
 'Смартфон Apple iPhone Xr 64GB']

In [361]:
print(stocks[stocks['item'].duplicated()])

          id                           item  count
1  100480929  Смартфон Xiaomi Redmi 6A 16GB     10
7  100480998       Смартфон HUAWEI P30 lite     33
8  100481008  Смартфон Xiaomi Redmi 6A 16GB      2

In [363]:
print(stocks['item'].value_counts())

item
Смартфон Xiaomi Redmi 6A 16GB       3
Смартфон HUAWEI P30 lite            2
Смартфон Samsung Galaxy A30 32GB    1
смартфон Samsung Galaxy A30 32gb    1
Смартфон Apple iPhone Xr 64gb       1
Смартфон Honor 8X 64GB              1
Смартфон Apple iPhone Xr 64GB       1
Name: count, dtype: int64

In [365]:
xiaomi = stocks[stocks['item'] == 'Смартфон Xiaomi Redmi 6A 16GB']['count'].sum()
print(xiaomi)

44

In [367]:
huawei = stocks[stocks['item'] == 'Смартфон HUAWEI P30 lite']['count'].sum()
print(huawei)

38

In [369]:
stocks['item'] = stocks['item'].drop_duplicates()
print(stocks)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929                               NaN     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998                               NaN     33
8  100481008                               NaN      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

In [371]:
print(stocks[stocks.isna().any(axis=1)].shape[0])
print()
print(stocks)
print()
stocks = stocks.dropna().reset_index(drop=True)
print(stocks)
print()
print(stocks[stocks.isna().any(axis=1)].shape[0])

3

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929                               NaN     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998                               NaN     33
8  100481008                               NaN      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

0

In [378]:
stocks.loc[stocks['item'] =='Смартфон Xiaomi Redmi 6A 16GB','count'] = xiaomi
stocks.loc[stocks['item'] =='Смартфон HUAWEI P30 lite','count'] = huawei
print(stocks)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

Переведите названия моделей в нижний регистр методом `str.lower()`. Сохраните их в новом столбце `'item_lowercase'`.
Распечатайте таблицу после преобразования.

In [383]:
stocks['item_lowercase'] = stocks['item'].str.lower()

print(stocks)

          id                              item  count  \
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

                     item_lowercase
0     смартфон xiaomi redmi 6a 16gb
1  смартфон samsung galaxy a30 32gb
2  смартфон samsung galaxy a30 32gb
3          смартфон huawei p30 lite
4     смартфон apple iphone xr 64gb
5            смартфон honor 8x 64gb
6     смартфон apple iphone xr 64gb

In [389]:
print(stocks['item_lowercase'].value_counts())

item_lowercase
смартфон samsung galaxy a30 32gb    2
смартфон apple iphone xr 64gb       2
смартфон xiaomi redmi 6a 16gb       1
смартфон huawei p30 lite            1
смартфон honor 8x 64gb              1
Name: count, dtype: int64

In [401]:
apple = stocks[stocks['item_lowercase'] == 'смартфон apple iphone xr 64gb']['count'].sum()
print(apple)
print()

samsung = stocks[stocks['item_lowercase'] =='смартфон samsung galaxy a30 32gb']['count'].sum()
print(samsung)

29

60

In [427]:
stocks['item_lowercase'] = stocks['item_lowercase'].drop_duplicates()
stocks = stocks.dropna()

stocks.loc[stocks['item_lowercase'] == 'смартфон apple iphone xr 64gb','count'] = apple
stocks.loc[stocks['item_lowercase'] == 'смартфон samsung galaxy a30 32gb','count'] = samsung

stocks['item'] = stocks['item_lowercase']
stocks = stocks.drop('item_lowercase',axis=1)

print(stocks)

          id                              item  count
0  100480924     смартфон xiaomi redmi 6a 16gb     44
1  100480938  смартфон samsung galaxy a30 32gb     60
3  100480959          смартфон huawei p30 lite     38
4  100480975     смартфон apple iphone xr 64gb     29
5  100480988            смартфон honor 8x 64gb     64